// Example text selectors
h1
	float left
	width 100%
	padding 0px 0px 0px 0px
	margin 0px 0px 0px 0px
	font-size 25px
	line-height 29px
	color #000
	text-align center

// Example div selectors
.example
	float left
	width 100%
	height 100px // only required if empty
	padding 0px 0px 0px 0px // Top Right Bottom Left
	margin 0px 0px 0px 0px // Top Right Bottom Left
	background #f2f
	border 1px solid #000
	border-radius 10px 10px 10px 10px // Top Right Bottom Left
